.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-weight: normal;
}

#message {
  animation-name: faded;
  animation-duration: 5s;
  font-weight: normal;
}


@keyframes faded {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader { 
  width:500px; 
  height: 4px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  border: none;
  padding: 1px;
}

.loader:before {
  content:'';
  border-radius:10px;
  background-color: #DCDCDA;
  border: none;
  position:absolute;
  top:-4px; 
  right:-4px; 
  bottom:-4px; 
  left:-4px;
}

.bar { 
  position:absolute;
  border-radius:10px;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  background:#18967e; 
  width:0;
  animation: infiniteBar 2s linear infinite;
}

@keyframes infiniteBar {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  20% {
    left:0%;
    right:75%;
    width:25%;
  }
  80% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}
